.transparent {
  opacity: 0.2;
}

#dslist {
  margin-top: 5em;
}

.gnhover {
  background-color: beige;
}

.timeseries {
  background-color: #EEEEEE;
  text-align: center;
}

.timeseriescontainer {
	position: relative;
	width: 100%; /* IE6 */
}

.tsbtntoolbar {
	position: absolute;
	top: 25px;
	left: 10%;
}
